<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178047580467-rj1nj4pvmvnp15sta3vgqd2j0ieo94kh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178047580467-rj1nj4pvmvnp15sta3vgqd2j0ieo94kh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>178047580467-g9jn98aka87upi4gkamheu646ub4sn7c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCM2EdL4Awu-XtNS-QrIq74a4xbVzWaW0w</string>
	<key>GCM_SENDER_ID</key>
	<string>178047580467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nono.farmersMarket</string>
	<key>PROJECT_ID</key>
	<string>farmers-market-3ed05</string>
	<key>STORAGE_BUCKET</key>
	<string>farmers-market-3ed05.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178047580467:ios:ab83b1078fd601ae866646</string>
	<key>DATABASE_URL</key>
	<string>https://farmers-market-3ed05.firebaseio.com</string>
</dict>
</plist>